{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "always"],
    "indent": "off",
    "max-len": "off",
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "camelcase": "off",
    "no-unused-vars": "off",
    "arrow-parens": "off",
    "guard-for-in": "off",
    "new-cap": "off",
    "keyword-spacing": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "semi",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ]
  }
}
