:root {
  /* COLORS */
  --color-primary: #3369f3;
  --color-error: #FF2F2F;

  --color-secondary-dark: #525252;
  --color-secondary: #999999;
  --color-secondary-light: #EAEAEA;

  --color-tertiary-dark: #EFEFEF;
  --color-tertiary: #F8F8F8;
  --color-tertiary-light: #FBFBFB;

  --color-hover: #E4EDFD;

  --color-white: #ffffff;
  --color-black: #1E1E1E;
}

