.burger {
  display: block;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.burger::before {
  content: '';
  position: absolute;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-black);
}

.burger::after {
  content: '';
  position: absolute;
  bottom: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-black);
}