.app {
  height: 100vh;
  overflow: hidden;
}

.app > div:first-child {
  width: 100%;
  height: 100vh;
  display: flex;
}

.chat__aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 31rem;
  height: 100vh;
  background-color: var(--color-tertiary);
  padding: 1rem 0;
}

.chat__link {
  align-self: flex-end;
  text-decoration: none;
  color: var(--color-secondary);
  margin: 1rem 1.8rem;
}

.chat__link::after {
  content: '';
  background: url('../../images/Arrow.png');
  width: 6px;
  height: 10px;
  display: inline-block;
  margin-left: .6rem;
}

.chat__search {
  margin: 1.5rem 1rem;
}

.chat__dialog {
  width: calc(100% - 31rem);
  height: 100vh;
  padding: 1rem 2rem;
}

.chat__popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
}

.chat__popup:target {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.chat__button--cancel {
  margin: 0 auto;
  background-color: var(--color-secondary);
}
