.message {
  padding: 1rem;
  max-width: 40rem;
  min-width: 10rem;
  position: relative;
}

.message--from {
  background-color: var(--color-tertiary);
  border-radius: 0 12px 12px 12px;
}

.message--left .person__image {
  margin: auto 1.2rem 0 0;
}

.message--right {
  margin-left: auto;
  flex-wrap: wrap;
}

.message--yours {
  padding: 1rem;
  background-color: var(--color-hover);
  border-radius: 12px 12px 0 12px;
}

.message--from.attachment {
  background-color: transparent;
  padding-bottom: 0;
}

.attachment--image {
  object-fit: cover;
  width: 31.5rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color-secondary-light);
}

.message__time {
  display: block;
  right: .9rem;
  bottom: 1.2rem;
  font-size: .9rem;
  text-align: end;
  color: var(--color-secondary);
}

.time--dark {
  position: absolute;
  display: block;
  width: 3.7rem;
  height: 1.3rem;
  background-color: var(--color-secondary-dark);
  border-radius: .6rem;
}

.message__time.time--dark {
  color: var(--color-white);
  text-align: center;
  right: 2rem;
}

.message--yours .message__time {
  color: var(--color-primary);
  margin: auto 0 0;
}

.message__delivery {
  position: absolute;
  bottom: .9rem;
  right: 3.5rem;
  width: 1rem;
  height: 1rem;
  background: url("../../images/sended.png") no-repeat;
  margin: auto .1rem 0 auto;
}
