.notification {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: calc(50% - 100px);
    z-index: 1000;
    padding: 10px;
    border-radius: 6px;
    color: white;
}

.notification__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.notification--error {
    background-color: rgba(246, 110, 132, 1);
}

.notification--success {
    background-color: rgba(69, 204, 177, 1);
}

.notification--warning {
    background-color: rgba(255, 194, 65, 1);
}

.notification--opacity-0 {
    opacity: 0;
}

.notification--opacity-1 {
    opacity: 1;
}
