.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34rem;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  margin: 20% auto;
  padding: 3rem;
  background: var(--color-white);
  position: relative;
  transition: opacity .5s;
}

.popup__header {
  margin-top: 1rem;
}

.popup__header--error {
  color: var(--color-error);
}

.popup__form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

.popup__label {
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
}

.popup__button {
  margin-top: 4.5rem;
}

.popup--error {
  text-align: center;
  font-size: 1.1rem;
}

.popup--close {
  font-size: 2rem;
  color: var(--color-secondary);
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  transition: hover .1s;
  text-decoration: none;
}

.popup--close:hover {
  color: var(--color-primary);
}
