.search {
  display: block;
  position: relative;
}

.search__input {
  display: block;
  width: 100%;
  border: 0;
  border-radius: .5rem;
  background-color: var(--color-tertiary-dark);
  padding: 1rem 1rem 1rem 3.5rem;
  position: relative;
}

.search__input::placeholder {
  color: var(--color-secondary);
  font-size: 1.2rem;
  text-align: center;
  text-indent: -3.5rem;
}

.search__icon {
  background: url('../../images/magnifier.png');
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 1.3rem;
  left: 1.2rem;
  z-index: 100;
  transition: left .05s ease-in;
}

.search__input:placeholder-shown + .search__icon {
  left: 10.5rem;
}